.table-header {
  height           : 60px;
  background-color : #721c24;
  text-align       : center;
  padding          : 15px;
}

.table-container {
  text-align       : center;
  padding          : 15px;
  margin           : 30px;
}

.table-body {
  background-color : #f7f7f7;
  text-align       : center;
  border           : 5px solid #721c24;
}

.table-header-title {
  font-size : 25px;
}

.table-header-sections {
  color : #ffffff;
}

.header-login {
  text-align : right;
}

.login-button {
  background-color : #ffffff;
  height           : 30px;
  text-align       : center;
  margin           : 5px;
}
