.body-sections {
	font-size: 16px;
	padding: 15px;
	text-align: center;
}

.body-sections-small-rtl-text {
	font-size: 14px;
	padding: 15px;
	text-align: center;
}

.console-button {
	background-color: #ffffff;
	height: 30px;
	text-align: center;
	margin: 10px;
}

.console-buttons-container {
	text-align: center;
}

.console-text-container {
	text-align: left;
}