.form-container {
	padding: 5px 15px;
}
.input-field {
  margin: 0 15px;
}

.header {
	height: 60px;
	background-color: #000;
	text-align: center;
	padding: 15px;
}

.header-title {
	font-size: 25px;
}

.header-sections {
	color: #ffffff;
}

.header-login {
	text-align: right;
}

.login-button {
	background-color: #ffffff;
	width: 80px;
	height: 30px;
	text-align: center;
}

.body-sections {
	font-size: 16px;
	padding: 15px;
}